.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: #333;
    color: white;
}

.retrowave{
    background-image: linear-gradient(indigo, magenta, red, orange, yellow);
    color: white;
}